name: test-integration

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  unit:
    name: Integration tests - PHP ${{ matrix.php }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php: ['8.3']
        symfony: ['6.4.*', '7.0.*']

    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Install Composer dependencies
        run: |
          sed -i 's/"\^6.4 || \^7.0"/\"${{ matrix.symfony }}"/g' composer.json
          composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Setup integration environment
        run: composer integration-setup

      - name: Run integration tests
        run: composer test-integration
